<div id ="infoLabelCompChat">
	<p id="infoText">Chat Or Leave A Message For A Front Desk Member</p>
</div>

<div id="chatDiv" style="overflow-y:scroll;">
<ul id="chat">
<%= render @messages %>
</ul>
</div>

<%= form_for Message.new, url: user_messages_path(@user.id), remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send", :id =>  "message_button" %>
<% end %>

<%= subscribe_to user_messages_path(@user) %>