<div class= "vegasBackground">
<div class="ui center aligned grid">
  <div class="alligned">
    <h2 id= "loginSignupHead" class="ui image header">
      <div class="content">
        Signup For An Account
      </div>
    </h2>
    <div class="ui large form">
      <div id="box" class="ui stacked segment">

      <%= form_for @user, url: signup_path do |f| %>
        <div class="field">
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
      </div>
        <div class="field">
          <div class="form-group">
            
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.label :password %>
            <%= f.text_field :password %>          
          </div>
        </div>
        <div>
          <%= f.submit "Sign Up", id: "loginButton",class: "ui fluid large submit button"%>
        </div>
      <% end %>
      </div>

      <div class="ui error message">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert#{key}")%>
        <% end %>
      </div>

    </div>

    <div id= "box" class="ui message alignCenter">
      <%= link_to "Log In", login_path, class: "linkColor" %>
    </div>
  </div>
</div>
</div>