

<h1>Stay#index</h1>
<p>Find me in app/views/stay/index.html.erb</p>


<div><%= link_to "New Stay", new_user_stay_path(@user.id) %></div>

<div id="allStays">

<div class= "currentStays">
<% @stays.each do |stay| %>
		
		<% if stay.checkin <= @currentDate && stay.checkout >= @currentDate %>
		<div class ="staysShow">

	 		<div id= "titleStay">
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
				<h2> <%= stay.user_id %> </h2>
			</div>

			<div id="checkInOutStay">
				<span>Checkin: <%= stay.checkin%></span>
				<span>Checkin: <%= stay.checkout %></span>
			</div>

			<div id="hotelIdStay">
				Hotel Id: <%= stay.hotel_id %>
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	

			<div id="currentDateStay">
				Current Date: <%= @currentDate%>
			</div> 	

			<div class= "featureSelection">
				<%= link_to '<div class="featureItem" title="Order Room Service"><i class="cocktail icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Submit A Maintance Request"><i class="warning icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Make A Spa Reservation"><i class="leaf icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Make A Dining Reservation"><i class="food icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Set A Time For Housekeeping"><i class="home icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Place A Do Not Disturb Hold"><i class="key icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
			</div>
		</div>
	<%else%>
	<% end %>
<% end %>
</div>

<div class= "futureStays">
<% @stays.each do |stay| %>
		
		<% if stay.checkin <= @currentDate %>
		<div class ="staysShow">

	 		<div id= "titleStay">
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
				<h2> <%= stay.user_id %> </h2>
			</div>

			<div id="checkInOutStay">
				<span>Checkin: <%= stay.checkin%></span>
				<span>Checkin: <%= stay.checkout %></span>
			</div>

			<div id="hotelIdStay">
				Hotel Id: <%= stay.hotel_id %>
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	

			<div id="currentDateStay">
				Current Date: <%= @currentDate%>
			</div> 	

		</div>
	<%else%>
	<% end %>
<% end %>
</div>

<div class= "pastStays">
<% @stays.each do |stay| %>
		
		<% if stay.checkout <= @currentDate %>
		<div class ="staysShow">

	 		<div id= "titleStay">
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
				<h2> <%= stay.user_id %> </h2>
			</div>

			<div id="checkInOutStay">
				<span>Checkin: <%= stay.checkin%></span>
				<span>Checkin: <%= stay.checkout %></span>
			</div>

			<div id="hotelIdStay">
				Hotel Id: <%= stay.hotel_id %>
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	

			<div id="currentDateStay">
				Current Date: <%= @currentDate%>
			</div> 	

		</div>
	<%else%>
	<% end %>
<% end %>
</div>

</div>
