
<div id ="infoLabel">
	<p id="infoText">Select or add a stay in order to use the feautures</p>
	<div id = "newStayButton"><%= link_to "New Stay", new_user_stay_path(@user.id) %></div>
</div>



<div id="allStays">

	<div class="ui segment">
	  <h2 class="ui right floated header">Current Adventure</h2>
	  <div class="ui clearing divider"></div>

	<div>

	<% @stays.each do |stay| %>
		
		<% if stay.checkin <= @currentDate && stay.checkout >= @currentDate %>
		<div class ="staysShow">


			
	
			<div id= "titleStay">
			<div id="hotelStay">
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
			</div>

			<div id="hotelStayName">
				<%= @hotels.find_by_id(stay.hotel_id).name%>
			</div>
			<div id="checkInOutStay">
				<p>Check-in: <%= stay.checkin%></p>
			</div>
			<div id="checkInOutStay">
				<p>Check-out: <%= stay.checkout%></p>
			</div>


		 	

			<div class= "featureSelection">
				<%= link_to '<div class="featureItem" title="Order Room Service"><i class="cocktail icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Submit A Maintance Request"><i class="warning icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Make A Spa Reservation"><i class="leaf icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Make A Dining Reservation"><i class="food icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Set A Time For Housekeeping"><i class="home icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
				<%= link_to '<div class="featureItem" title="Place A Do Not Disturb Hold"><i class="key icon"></i></div>'.html_safe, user_stay_path(@user.id, stay.id)%>
			</div>
		</div>
	<%else%>
	<% end %>
<% end %>
</div>
</div>

	<div class="ui segment">
	  <h2 class="ui right floated header">Future Adventures</h2>
	  <div class="ui clearing divider"></div>
	<div>

	<% @stays.each do |stay| %>
		
		<% if stay.checkout <= @currentDate %>
				<div class ="staysShow">

			<div id= "titleStay">
			<div id="hotelStay">
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
			</div>
			<div id="hotelStayName">
				<%= @hotels.find_by_id(stay.hotel_id).name%>
			</div>
			<div id="checkInOutStay">
				<p>Check-in: <%= stay.checkin%></p>
			</div>
			<div id="checkInOutStay">
				<p>Check-out: <%= stay.checkout%></p>
			</div>

		 	

		</div>
	<%else%>
	<% end %>
	<% end %>
	</div>
	</div>

	<div class="ui segment">
	  <h2 class="ui right floated header">Past Adventures</h2>
	  <div class="ui clearing divider"></div>
	<div>

	<% @stays.each do |stay| %>
		
		<% if stay.checkin >= @currentDate %>
		<div class ="staysShow">

			<div id= "titleStay">
			<div id="hotelStay">
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
			</div>
			<div id="hotelStayName">
				<%= @hotels.find_by_id(stay.hotel_id).name%>
			</div>	
			<div id="checkInOutStay">
				<p>Check-in: <%= stay.checkin%></p>
			</div>
			<div id="checkInOutStay">
				<p>Check-out: <%= stay.checkout%></p>
			</div>
		 	

		</div>
		<%else%>
		<% end %>
	<% end %>
</div>
</div>

</div>
