
<div id ="infoLabelStay">
	
</div>
<div id ="formBox">


    <h2 class="ui right floated header"><%= @stay.title %></h2>
    <div class="ui clearing divider"></div>



 		<div id="stayShowInfo">


 			<div>
				<h2> <%= @stay.title %> </h2>
			</div>

			<div id="stayShowHotelName">
 				<%= @hotels.find_by_id(@stay.hotel_id).name %>
 			</div>

 			<div id ="stayShowImg">
 				<img src = "<%= @hotels.find_by_id(@stay.hotel_id).image_url%>"></img>
 			</div>

 			<div id="stayShowHotelDescription">
 				Description: <%= @hotels.find_by_id(@stay.hotel_id).description %>
 			</div>

 			<div id="stayShowHotelAddress">
 				Address: <%= @hotels.find_by_id(@stay.hotel_id).address %>
 			</div>

 			<div id="stayShowRoomNumber">
 				Room Number: <%= @rooms.find_by_id(@stay.room_id).number %>
 			</div>
		
			<div>
				<span>Checkin: <%= @stay.checkin %></span>
			</div>
			<div>
				<span>Checkin: <%= @stay.checkout %></span>
			</div> 

		</div>

		<div id="stayShowFeatures">
			
		<%= form_for @stay, url: user_stay_path(@user, @stay.id) do |f|  %>
		
			<% if @stay.do_not_disturb == false %>
				<div id="dndButton">
					<%= f.hidden_field :do_not_disturb, :value => true %>
					<i class="alarm icon"></i></br><%= f.submit "Turn On&#x00A;DND".html_safe, id: "dnd", title: "Turn Do Not Disturb On"%>
				</div>
			<% else %>
				<div id="dndButton">
					<%= f.hidden_field :do_not_disturb, :value => false %>
					<i class="alarm slash icon"></i></br><%= f.submit "Turn Off&#x00A;DND".html_safe, id: "dnd", title: "Turn Do Not Disturb Off"%>
				</div>
			<%end %>
		<%end%>

		<% if @stay.checkin <= @currentDate && @stay.checkout >= @currentDate %>
			<%= link_to '<div class="featureItem" title="Submit A Maintance Request"><i class="travel icon"></i>Maintance Request</div>'.html_safe, new_user_stay_work_order_path(@user.id, @stay.id)%>
		<%else%>
			<div class="featureItem"><i class="comments outline icon"></i></br>Leave A Comment</div>
		<%end%>

		<% if @stay.checkout >= @currentDate %>
			<%= link_to '<div class="featureItem" title="Schedule A Housekeeping Appointment"><i class="home icon"></i></br>House-keeping</div>'.html_safe, new_user_stay_dayservice_path(@user.id, @stay.id)%>
			<%= link_to '<div class="featureItem" title="Schedule Turndown Service"><i class="travel icon"></i>Turndown Service</div>'.html_safe, new_user_stay_eveningservice_path(@user.id, @stay.id)%>
		<%end%>

		<%= link_to '<div class="editDeleteLink" title="Chat With A Front Desk Employee"><i class="announcement icon"></i></br>Front Desk Chat</div>'.html_safe, user_messages_path(@user.id)%>

		<%if @stay.user_id == session[:user_id]  %>
			<%= link_to '<div class="editDeleteLink"><i class="remove icon"></i></br>Delete Your Stay</div>'.html_safe, user_stay_path(@user, @stay) , method: :delete, data: { confirm: 'Are you sure?' }%>
				<%= link_to '<div class="editDeleteLink"><i class="write icon"></i></br>Edit Your Stay</div>'.html_safe, edit_user_stay_path(@user, @stay)%>
		<%end %>

		</div>
</div>


