



<div id= "profileInfo">
	<div id= "profileImage">
		<%= image_tag "http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-6.jpg" %>
		<button id="profileButton" class="ui icon button" title="Change Your Profile Picture">
  		<i class="photo icon"></i>
		</button>
	</div>
	<div id="basicProfileInfo">
		<h1 id="firstLastName">
		<%= @user.first_name %>
		<span><%= @user.last_name %></span>
		</h1>
		<h3 id="email"><%= @user.email %></h3>
	</div>
	<div class="ui divider"></div>
	
	<div id="lastestStays">


	<% @stays.each do |stay| %>
		<div class ="staysShow">
	 		<div id= "titleStay">
			<div id="hotelStay">
				<div id="hotelStayPic">
					<img src = "<%= @hotels.find_by_id(stay.hotel_id).image_url%>" style="width:100px" ></img>
				</div>
			</div> 	
				<%= link_to stay.title, user_stay_path(@user.id, stay.id)%>
			</div>
			<div id="hotelStayNameUserShow">
				<%= @hotels.find_by_id(stay.hotel_id).name%>
			</div>
			<div id="checkInOutStay">
				<p>Check-in: <%= stay.checkin%></p>
			</div>
			<div id="checkInOutStay">
				<p>Check-out: <%= stay.checkout%></p>
			</div>

		</div>
	<% end %>

	</div>

</div>


<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-6.jpg">
    </div>
    <div class="description">
      <div class="ui header">We've chosen a kickass profile image for you.</div>
      <p>In case you do not appreciate our efforts, feel free to add your own profile picture</p>
      
      <%= form_for @user do |f|  %>


      <div class="field">
          <div class="ui left icon input">
          <%= f.label :image %>
           <%=f.text_field :image%>
          <i class="photo icon"></i>
          </div>
       </div>


        

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button" id= "exitButton">
      Meh, yours is better.
    </div>

    <div class="ui positive right labeled button">
      <%= f.submit "Update Profile Picture" %>
    </div>

  </div>
  <% end %>
</div>












