<div id ="infoLabel">
  <p>Turndown Appointments</p>
</div>



<table id = "tableSize" class="ui celled padded table" >
  <thead>
    <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Hotel</th>
    <th>Room</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr></thead>
  <tbody>
<% @eveningservices.each do |eveningservice|%>
<%if eveningservice.user_id == session[:user_id]  %>


    <tr>
    	<td><%=eveningservice.appointment_date%></td>
    	<td><%=eveningservice.appointment_time.strftime("%I:%M %p")%></td>
    	<td><%=@hotels.find_by_id(eveningservice.hotel_id).name%></td>
    	<td><%=@rooms.find_by_id(eveningservice.room_id).number%></td>
      <td><%= link_to 'Edit', edit_eveningservice_path(eveningservice.id)%></td>
      <td> <%= link_to 'Delete', eveningservice_path(eveningservice.id) , method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <%end%>


<%end %>
   </tbody>
</table>