<div id ="infoLabel">
  <p>Housekeeping Appointments</p>
</div>



<table id = "tableSize" class="ui celled padded table" >
  <thead>
    <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Hotel</th>
    <th>Room</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr></thead>
  <tbody>
<% @dayservices.each do |dayservice|%>
<%if dayservice.user_id == session[:user_id]  %>


    <tr>
    	<td><%=dayservice.appointment_date%></td>
    	<td><%=dayservice.appointment_time.strftime("%I:%M %p")%></td>
    	<td><%=@hotels.find_by_id(dayservice.hotel_id).name%></td>
    	<td><%=@rooms.find_by_id(dayservice.room_id).number%></td>
      <td><%= link_to 'Edit', edit_dayservice_path(dayservice.id)%></td>
      <td> <%= link_to 'Delete', dayservice_path(dayservice.id) , method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <%end%>


<%end %>
   </tbody>
</table>