



<table id = "tableSize" class="ui celled padded table" >
  <thead>
    <tr>
    <th class="single line">Image</th>
    <th>Date</th>
    <th>Description</th>
    <th>Hotel</th>
    <th>Room</th>
  </tr></thead>
  <tbody>
<% @workOrders.each do |workOrder|%>
    <tr>
        <td><%=image_tag workOrder.image.url(:thumb) %></td>
    	<td><%=workOrder.created_at%></td>
    	<td><%=workOrder.description%></td>
    	<td><%=workOrder.hotel_id%></td>
    	<td><%=workOrder.room_id%></td>
    </tr>
    <%end%>
   </tbody>
</table>





