<!DOCTYPE html>
<html>
<head>
  <title>HotelExperience</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js' >
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>



<body>

<div id= "sideMenu">
<div class="ui left fixed sticky vertical menu">
  <div class="item" id ="logo"></div>
  <div id= "menu">
  <div class="item" title="View Your Profile">

    <i class="user icon"></i>
    <%= link_to "My Profile", user_path(session[:user_id]) %>
  </div>
   <div class="item" title="Submit A Maintenance Request">
    <i class="travel icon"></i>
    <%= link_to "Maintenance", user_work_orders_path(session[:user_id]) %>
  </div>
   <div class="item" title="Set A Time For Housekeeping">
    <i class="home icon"></i>
    <%= link_to "Housekeeping", user_dayservices_path(session[:user_id]) %>
  </div>
   <div class="item" title="Request Turndown Service">
    <i class="moon icon"></i>
    <%= link_to "Turndown Service", user_eveningservices_path(session[:user_id]) %>
  </div>
  <div class="item" title="Place A Do Not Disturb Hold">
    <i class="privacy icon"></i>
    Do Not Disturb
  </div>
  <div class="item" title="Need Assistance? Connect With The Front Desk">
    <i class="wechat icon"></i>
    <%= link_to "Front Desk Chat", user_messages_path(session[:user_id]) %>
  </div>
  </div>
</div>
</div>


<div class="mainBody">
  <div class="ui secondary pointing left menu" id="topMenu">

      <% if current_page?(users_path)%>
       <div id="item" class = "active item">
      <%else %>
       <div id="item" class = "item">
      <%end %>
        <%= link_to "Home", users_path %>
      </div>
      <% if current_page?(user_stays_path(session[:user_id]))%>
       <div id="item" class = "active item">
      <%else %>
       <div id="item" class = "item">
      <%end %> 
        <%= link_to "My Stays", user_stays_path(session[:user_id]) %>
        </div>
      <div id="item" class = "item" >
        <%= link_to "Logout", logout_path, method: :delete %>
      </div> 

      <div class="right menu">
      <div class="ui search" id="search">   
        <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search...">
         <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      </div>
  </div>

<%= yield %>
</div>

<div class="ui bottom fixed menu" id="bottomMenu">

  <div class="item" title="View Your Profile">
    <i class="user icon"></i>
    <%= link_to "My Profile", user_path(session[:user_id]) %>
  </div>
  <div class="item" title="Submit A Maintenance Request">
    <i class="warning sign icon"></i>
    <%= link_to "Maintenance", user_work_orders_path(session[:user_id]) %>
  </div>

  <div class="item" title="Submit A Maintenance Request">
    <i class="comments outline icon"></i>
    <%= link_to "Front Desk Chat", user_messages_path(session[:user_id]) %>
  </div>

</div>

</body>
</html>
